 #credSubmit {
    max-width: 300px; /* Maximum width of the form */
    margin: auto; /* Center the form on the page */
    padding: 20px; /* Padding inside the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-shadow for a subtle effect */
    border-radius: 8px; /* Rounded corners */
    background-color: #f5f5f5; /* Light grey background */
}

#credSubmit input[type="text"],
#credSubmit input[type="password"] {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the input fields */
    margin-bottom: 10px; /* Space between the fields */
    border: 1px solid #ddd; /* Light border */
    border-radius: 4px; /* Slightly rounded corners for input fields */
}

#credSubmit button {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
}

#credSubmit button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}
body{
    align-content: center;
    background-color: bisque;

}
footer{
    position: absolute;
    left: 50%;
    bottom: 0;
    text-align: center;

}
